.contactoBanner {
    height: 32vw;
    width: 100%;
    padding-top: 5vw;
    background-image: url('../assets/contacto_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contactoBannerTitulo {
    text-align: center;
    padding-top: 8.4vw;
    font-size: 3.5vw;
    color: white;
    font-family: 'DIN';
    display: block;
}

.contactoTerraMas, .contactoTerraSalto {
    display: flex;
}

.listaContactosTerraMas {
    width: 60%;
    display: 1;
    padding-bottom: 2vw;
}

.contactosGoogleMap {
    width: 50%;
    border: 1.5vw solid white;
    display: 1;
}

/* .contactanosText {
    padding-left: 2vw;
    margin-top: -1vw;
    color: gray;
    font-size: 1.15vw;
} */



@media (min-width: 0px) and (max-width: 640px) { 

    .contactoTerraMas {
        display: flex;
        flex-direction: column;
    }

    .contactoTerraSalto {
        display: flex;
        flex-direction: column-reverse;
    }

    .listaContactosTerraMas {
        width: 100%;
    }

    .contactosGoogleMap {
        width: 100%;
        height: 20vw;
    }

}

@media (min-width: 640px) and (max-width: 1200px) { 


}