.cultivarPlus {
    display: flex;
    background-color: white;
}

.cultivarPlusTexto {
    width: 50%;
    display: 1;
}


.cultivarPlusImagen {
    background-image: url('../assets/programa_cultivar_h.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    display: 1;
}

.bayerInsumos {
    display: flex;
    background-color: white;
}

.bayerInsumosImagen {
    background-image: url('../assets/bayer_banner_h.png');
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    display: 1;
}

.bayerInsumosTexto {
    width: 50%;
    display: 1;
}


@media (min-width: 37.5em) and (max-width: 75em) {

    .cultivarPlusTexto,
    .bayerInsumosTexto {
        width: 80%;
    }
    
    .cultivarPlusImagen {
        width: 20%;
        background-position: center center;
        background-image: url('../assets/programa_cultivar_v.png');
    }

    .bayerInsumosImagen {
        width: 20%;
        background-image: url('../assets/banner_bayer_v.png');
        background-position: center center;
    }
    
}