.dekalb-video {
    z-index: -1;
    display: flex;
}

video {
    width: 100%;
    max-height: 100vh;
    object-fit: fill;   
} 


.aboutus {
    display: flex;
    background-color: white;
}

.aboutus-left {
    width: 50%;
    display: 1;
    padding-bottom: 2vw;
}

.aboutus-img {
    background-image: url('../assets/terra-mas-frente.jpg');
    width: 50%;
    display: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.dekalb-card {
    display: flex;
    background-color: white;
}

.dekalb-card-rigth {
    display: 1;
    width: 50%;
    margin-bottom: 3vw;
}

.container-text {
    padding-left: 3vw;
}


.dekalb-card-left {
    background-image: url('../assets/nuevas_tecnologias_h.jpg');
    width: 50%;
    display: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


@media (min-width: 640px) and (max-width: 1200px) {

    .aboutus-left,
    .dekalb-card-rigth {
        width: 80%;
    }
    
    .aboutus-img {
        width: 20%;
        background-position: 70% 0px;
    }

    .dekalb-card-left {
        width: 20%;
        background-position: -10px 0%;
        background-image: url('../assets/nuevas_tecnologias_v.jpg');
    }
    
}


@media (min-width: 0px) and (max-width: 640px) {

    .aboutus {
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }

    .aboutus-left,
    .dekalb-card-rigth {
        width: 100%;
    }
    
    .aboutus-img {
        width: 100%;
        height: 20vw;
        background-position: center center;
    }

    .dekalb-card {
        display: flex;
        flex-direction: column;
    }

    .dekalb-card-left {
        width: 100%;
        height: 20vw;
        background-image: url('../assets/trecepta_banner.jpg');
    }
}

.account-created {
    outline: 0.2vw solid rgb(58, 58, 58);
    border-radius: 1vw;
    width: 35vw;
    height: 14vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
}

.account-created p {
    font-size: 1vw;
    padding: 0px;
    padding-top: 0.9vw;
}