/* .contenido {
    padding-top: 100px;
    background-image: url('../assets/corn-field.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    height: 85vh;
    width: 100%;
} */


.video {
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
    top: 0;
    left: 0;
} 


.sobreNosotros {
    display: flex;
    background-color: white;
}

.sobreNosotrosTexto {
    width: 50%;
    display: 1;
}

.sobreNosotrosImagen {
    background-image: url('../assets/terra-mas-frente.jpg');
    width: 50%;
    display: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.nuevasTecnologias {
    display: flex;
    background-color: white;
}

.nuevasTecnologiasTexto {
    display: 1;
    width: 50%;
}

.nuevasTecnologiasImagen {
    background-image: url('../assets/nuevas_tecnologias_h.png');
    width: 50%;
    display: 1;
    background-size: cover;
    background-repeat: no-repeat;
}


@media (min-width: 600px) and (max-width: 940px) {

    .sobreNosotrosTexto,
    .nuevasTecnologiasTexto {
        width: 80%;
    }
    
    .sobreNosotrosImagen {
        width: 20%;
        background-position: 70% 0px;
    }

    .nuevasTecnologiasImagen {
        width: 20%;
        background-position: 0% 0px;
        background-image: url('../assets/nuevas_tecnologias_v.png');
    }
    
}


@media (min-width: 0px) and (max-width: 600px) {

    .sobreNosotros {
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }

    .sobreNosotrosTexto,
    .nuevasTecnologiasTexto {
        width: 100%;
    }
    
    .sobreNosotrosImagen {
        width: 100%;
        height: 20vw;
        background-position: center center;
    }

    .nuevasTecnologias {
        display: flex;
        flex-direction: column;
    }

    .nuevasTecnologiasImagen {
        width: 100%;
        height: 20vw;
        /* background-position: 0% 0px; */
        background-image: url('../assets/trecepta_banner.png');
    }
}