.logout-card {
    outline: 0.2vw solid rgb(58, 58, 58);
    border-radius: 1vw;
    width: 35vw;
    height: 25vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
}

.logout-card-img {
    position: absolute;
    margin-top: 2vw;
    width: 13vw;
    margin-left: 2vw;
}

.logout-text {
    font-size: 1vw;
    padding: 0px;
    padding-top: 12.5vw;
}

