.my-profile-component {
    display: grid;
    /* height: 97vh; */
    background-color: rgb(198, 198, 198);
    padding: 3vw;
    padding-top: 5.5vw;

    background-image: url('../assets/corn-field-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mp-top-bar {
    width: 100%;
    height: 4vw;
    background-color: white;
    border-radius: 1vw;
    margin-bottom: 2vw;
    display: flex;
}

.mp-profile-link {
    display: flex;
}

.mp-top-bar_label {
    margin-left: 2vw;
}

.mp-top-bar-links {
    /* padding-top: 1vw; */
    /* padding-right: 3vw; */
    margin-left: auto;
}

.mp-top-bar-links:hover .mp-field-p {
    color: green;
}

.mp-top-bar-links:hover  .arrowSvgPp {
    stroke: green;
}

.mp-arrow-svg {
    align-self: center;
    margin-left: 0.5vw;
    width: 1.5vw;
    fill: none;
    /* stroke: rgb(37, 122, 22); */
    stroke: gray;
    stroke-width: 2;
    padding-right: 2vw;
}

.mp-field-p {
    padding-right: 0px;
}

.mp-bottom-card {
    display: flex;
}

.mp-profile-card {
    background-color: white;
    border-radius: 1vw;
    width: 30%;
    text-align: center;
    /* height: 70vh; */
}

.mp-profile-photo {
    height: 15vw;
    padding-top: 3vw;
}

.mp-profile-info {
}

.mp-rigth {
    width: 70%; 
    margin-left: 4vw;
}

.mp-rigth_body {
    background-color: white;
    height: 16vw;
    border-radius: 1vw;
    padding: 3vw;
    margin-bottom: 3vw;
}

.mp-rigth_bottombar {
    display: flex;
    /* padding-top: 1vw;
    padding-left: 2vw; */
    border-radius: 1vw;
    background-color: white;
    height: 5vw;
    overflow: hidden;
}

.mp-rigth_bottombar-dekalb {
    display: 1;
    width: 50%;
    background-image: url('../assets/trecepta_banner_maslogo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.mp-rigth_bottombar-bayer {
    display: 1;
    width: 50%;
    background-image: url('../assets/bayer_largo_cosecha.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.mp-rigth_bottombar-bayer:hover, .mp-rigth_bottombar-dekalb:hover {
    transform: scale(1.05);
    transition: ease 0.5s;
    cursor: pointer;
}

.pf-row {
    display: flex;
}

.pf-row-label {
    width: 10vw;
    margin-left: 1vw;
    color: rgb(122, 121, 121);
}

.pf-row-info {
    color: rgb(122, 121, 121);
}

.pf-row-changepassword {
    padding-left: 11vw;
    padding-top: 0.7vw;
}

.pf-button {
    font-family: 'Poppins';
    border: none;
    border-radius:  0.3vw;
    font-size: 1.2vw;
    padding: 0.4vw;
    /* margin-top: 0.5vw; */
    /* color: rgb(122, 121, 121); */
    color: white;
    background-color: gray;
}

.pf-button:hover {
    color: white;
    background-color: rgb(2, 98, 2);
    cursor: pointer;
}