.passwordResetPage {
    min-height: 98vh;
    display: flex;
    justify-content: center;

    background-image: url('../assets/campo-argentino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.rph2 {
    margin-top: 3vw;
    font-size: 2vw;
    margin-bottom: 0px;
}

.greenKeyIcon {
    position: absolute;
    width: 8vw;
    margin-top: -5vw;
}

.resetPasswordCard {
    outline: 0.2vw solid rgb(58, 58, 58);
    border-radius: 1vw;
    width: 35vw;
    height: 27vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
}

.resetPasswordForm {
    background-color: whitesmoke;
    align-items: center;
    margin: auto;
}

.resetPasswordInputs {
}

.resetInput {
    width: 12vw;
    margin-left: 1vw;
}

.resetLabel {
    font-size: 1.2vw;
}

.rpInputRow {
    height: 5vw;
}