.password-reset-main {
    min-height: 98vh;
    display: flex;
    justify-content: center;

    background-image: url('../assets/campo-argentino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.prp-h2 {
    margin-top: 3vw;
    font-size: 2vw;
    margin-bottom: 0px;
}

.green-key-icon {
    position: absolute;
    width: 8vw;
    margin-top: -4.5vw;
}

.reset-password-card {
    outline: 0.2vw solid rgb(58, 58, 58);
    border-radius: 1vw;
    width: 35vw;
    height: 28vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
}

.prp-input {
    width: 12vw;
    margin-left: 1vw;
    height: 1vw;
    align-self: center;
}

.prp-label {
    font-size: 1.2vw;
    align-self: center;
}

.prp-input-row {
    display: inline-flex;
    padding: 0px;
    margin: 0px;
    height: 5vw;
}

.password-reset-main p {
    margin-bottom: 0.5vw;
    padding: 0px;
}