.sobreNosotrosComponent {
    display: flex;
    flex-direction: column;
}

.sobreNosotrosBanner {
    height: 32vw;
    width: 100%;
    padding-top: 5vw;
    background-image: url('../assets/sobre-nosotros-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .sobreNosotrosTitulo {
    padding-left: 0;
    padding-top: 9vw;
    font-size: 3.5vw;
    color: white;
    font-family: 'DIN';
    display: block;
} */

/* .nuestraHisotira h3 {
    font-size: 3vw;
}

.nuestraHisotira p {
    font-size: 1.35vw;
} */