.ubicacionComponent {
    display: flex;
    background-color: white;
    height: 65  vh;
}

.googleMapTM {
    width: 50%;
    /* height: 300; */
    border:0;
    display: 1;
}

.ubicacionIzquierda {
    width: 50%;
    display: 1;
    /* height: 300; */
}


.ubicacionImagen {
    background-image: url('../assets/ubicacion.png');
    width: 50%;
    display: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ubicacionTitle {
    padding-left: 2vw;
    padding-top: 1vw;
    margin: 0px;
    text-align: left;
    color: green;
    font-family: 'Poppins', sans-serif;
    /* font-size: 30px; */
    font-size: 2.2vw;
}

.ubicationText {
    text-align: left;
    padding-left: 0vw;
    padding-right: 1vw;
    /* padding-left: 30px; */
    /* padding-right: 60px; */
    color: rgb(122, 121, 121);
    font-weight: 450;
    font-family: 'Poppins', sans-serif;
}

.ubicationText ul {
    /* margin-top: 15px; */
    padding-left: 2vw;
    margin: 0px;
}

.contactosUbicacion li {
    padding-left: 1.8vw;
    list-style: none;
    font-size: 1vw;
    /* font-size: 15px; */
}


.contactosUbicacion h3 {
    font-size: 1.2vw;
    /* font-size: medium; */
    font-weight: normal;
    padding-left: 1vw;
    /* padding: -2vw; */
    margin: -0.1vw;
    color: green;
}

.contactosUbicacion a {
    font-size: 1.05vw;
    text-decoration: none;
    color: rgb(122, 121, 121);
}

.contactosUbicacion a:hover {
    color: green;
}