<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="height: 700px; width: 500px; background-image: url('https://i.ibb.co/2hrBR2c/email-background-wtext.png'); background-size: contain; background-repeat: no-repeat; background-position: bottom center; text-align: center;">
        <div style="padding-top: 320px;">
            <a href="{{link}}" style="border-radius: 20px; border: 0.1vw solid #FDB441; background-color: #FDB441; padding: 8px 13px; text-transform: uppercase; transition: transform 80ms ease-in; font-weight: bold; text-decoration: none; color: #fffff4;">Reestablecer contraseña</a>
        </div>
    </div>
    
</body>

</html>