<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

	<body style="background-color: #fffde6; background-image: url('https://i.ibb.co/2WwZ4S9/image.png'); text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width: 500px;">
	    <img src="https://i.ibb.co/0YFnVvY/email-background-top.jpg" style="width: 500px;" alt="email-background-top">
	        <div style="height: 35px; padding-top: 10px;">
	            <a href="{{link}}" class="button" style="border-radius: 20px; border: 0.1vw solid #FDB441; background-color: #FDB441; padding: 8px 13px; font-weight: bold; text-decoration: none; color: #fffff4;">
	                REESTABLECER CONTRASEÑA
	            </a>
	        </div>
	        <img src="https://i.ibb.co/SvnYxGp/email-background-bottom.jpg" style="width: 500px;" alt="email-background-bottom">
	    </div>
	</body>
	
</html>